.float_right
  = link_to new_bullet_point_path, class: 'btn' do
    %span.fa.fa-fw.fa-plus
    New Issue

%h1 Reviewable Issues

%table.table_index
  %thead
    %tr
      %th Layman's Title
      %th{colspan: '2'} Layman's Description

  %tbody
    - @bullet_points.each do |bullet_point|
      %tr
        %td{data: {'col-header': 'Title:'}}= bullet_point.human_title
        %td{data: {'col-header': 'Desc:'}}= simple_format bullet_point.human_description
        %td.cell_collapse
          %ul.inline_list
            %li= link_to 'Edit', edit_bullet_point_path(bullet_point)
            %li= link_to 'Delete', bullet_point, data: { confirm: 'Are you sure?' }, method: :delete
