.float_right
  = link_to bullet_points_path, class: 'btn btn_gray' do
    %span.fa.fa-fw.fa-arrow-left
    Back

  = link_to edit_bullet_point_path(@bullet_point), class: 'btn' do
    %span.fa.fa-fw.fa-pencil
    Edit

%h1 Bullet Point

%table.table_padded_right.media_xs_text_small
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Layman's Title:
    %td= @bullet_point.human_title
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Layman's Desc:
    %td= @bullet_point.human_description
