.page-header
  = link_to bullet_points_path, class: 'btn btn-default' do
    %span.fa.fa-fw.fa-arrow-left
    Back
  = link_to edit_bullet_point_path(@bullet_point), class: 'btn btn-primary' do
    %span.fa.fa-fw.fa-pencil
    Edit
  %h1 Bullet Point

%dl.dl-horizontal
  %dt Layman's Title:
  %dd= @bullet_point.human_title
  %dt Layman's Desc:
  %dd= @bullet_point.human_description
