.page-header
  = link_to bullet_points_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_bullet_point_path(@bullet_point), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show bullet_point

%dl.dl-horizontal
  %dt Human title:
  %dd= @bullet_point.human_title
  %dt Human description:
  %dd= @bullet_point.human_description
