%h1 Users

%table.table_index
  %thead
    %tr
      %th Name
      %th Email
      %th{colspan: '2'} Company

  %tbody
    - @users.each do |user|
      %tr
        %td{data: {'col-header': 'Name:'}}= link_to [user.first_name, user.last_name].join(' '), user
        %td{data: {'col-header': 'Email:'}}= user.email
        %td{data: {'col-header': 'Company:'}}= user.company_name
        %td.cell_collapse
          %ul.inline_list
            %li= link_to 'Edit', edit_user_path(user)
            %li= link_to 'Delete', user, data: { confirm: 'Are you sure?' }, method: :delete
