%h1 Login

= form_tag '/login', action: 'POST', html: {class: "form-horizontal", role: "form"} do |f|

  %table.table_padded
    %tr
      %td.cell_collapse
        %label{for: 'email'} Email
      %td= email_field_tag 'email', cookies[:email]
    %tr
      %td.cell_collapse
        %label{for: 'password'} Password
      %td= password_field_tag 'password', nil
    %tr
      %td
      %td= submit_tag "Login", class: 'btn btn-primary btn-lg btn-block'
