.float_right
  = link_to new_document_type_path, class: 'btn' do
    %span.fa.fa-fw.fa-plus
    New Type

%h1 Document Types

%table.table_index
  %thead
    %tr
      %th Document Type
      %th Issues
      %th

  %tbody
    - @document_types.each do |document_type|
      %tr
        %td{data: {'col-header': 'Type:'}}= document_type.category
        %td
          %ul
            - document_type.bullet_points.each do |bp|
              %li= bp.human_title
        %td.cell_collapse
          %ul.inline_list
            %li= link_to 'Edit', edit_document_type_path(document_type)
            %li= link_to 'Delete', document_type, data: { confirm: 'Are you sure?' }, method: :delete
