.float_right
  = link_to document_types_path, class: 'btn btn_gray' do
    %span.fa.fa-fw.fa-arrow-left
    Back

  = link_to edit_document_type_path(@document_type), class: 'btn' do
    %span.fa.fa-fw.fa-pencil
    Edit

%h1 Document Type

%table.table_padded_right.media_xs_text_small
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Type:
    %td= @document_type.category
