.page-header
  = link_to document_types_path, class: 'btn btn-default' do
    %span.fa.fa-fw.fa-arrow-left
    Back
  = link_to edit_document_type_path(@document_type), class: 'btn btn-primary' do
    %span.fa.fa-fw.fa-pencil
    Edit
  %h1 Document Type

%dl.dl-horizontal
  %dt Type:
  %dd= @document_type.category
