- if requests.any?
  %table.table_index
    %thead
      %tr
        %th Title
        %th Url
        %th Description
        %th

    %tbody
      - requests.each do |req|
        %tr
          %td{data: {'col-header': 'Title:'}}= request.title
          %td{data: {'col-header': 'Url:'}}= link_to request.url, request.url
          %td{data: {'col-header': 'Description:'}}= request.description
          %td.cell_collapse
            %ul.inline_list
              %li= link_to 'Add Contract', new_document_path(name: request.title, url: request.url)
- else
  %p
    %em No recent requests
