
%h1 Terms of Use

.cols
  .col_60
    %h2.text_uppercase Made You Look!

    %p Actually, LexLucid is in beta at the moment. Please bare with us as we continue to update various parts of the website.
