.page-header
  = link_to document_path(@document), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Cancel
  %h1 Editing review

= form_for @review, html: { class: "form-horizontal", role: "form" } do |f|
  = render partial: 'form', locals: {f: f}
